# Public ports
GLPI_PORT=8095
FRONTEND_PORT=8091

# Internal frontend-to-GLPI URL
GLPI_BACKEND_URL=http://glpi

# Images
GLPI_IMAGE=glpi/glpi:10.0.26
FRONTEND_IMAGE=glpi-frontend-local:1.1

# Existing Docker resources
GLPI_NETWORK=glpi-network
GLPI_DATA_VOLUME=5460f57d138e1c1d896b6ac3003fb99c9ccf0c85e60efdbe593d3d02bf736cf4
